<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo.WindowsForms.Properties.Settings.DBConnectionstring"
            connectionString="Data Source=.;Initial Catalog=RGIS;Persist Security Info=True;User ID=sa;Password=future"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>